.leftContent-container {
  border-right: 1px solid #eee;
  padding-left: 50px;
  padding-top: 20px;
  .list-bar {
    padding-top: 27px;
    .bar-group {
      display: flex;
      align-items: baseline;
      padding-bottom: 10px;
      h1 {
        padding-left: 15px;
        font-size: 20px;
        font-weight: 500;
      }
      .home-icon {
        width: 25px;
      }
      i {
        font-size: 23px;
      }
    }
  }
  .btn {
    width: 100%;
    margin-right: 20px;
  }
  .profile_menu{
    display: flex;
    padding-top: 20px;
    margin-right: 10px;
    .profile-img {
      margin-top: 10px;
      width: 50px;
      height: 50px;
      border-radius: 50px;
    }
    .header-section {
      width: 100%;
      padding-top: 10px;
      padding-left: 10px;
      display: flex;
      flex-direction: column;
      h4 {
        font-size: 17px;
      }
      h5 {
        font-size: 15px;
        font-weight: 500;
        color: #7b8892;
      }
      h6 {
        font-size: 14px;
        font-weight: 400;
        color: #7b8892;
        flex-grow: 0.9;
      }
     
     
    }
    .dropdown-toggle::after {
      content: none;
      background-color: #fff;
    }
    .dropdown-toggle:visited{
      background-color: #fff;
    }
    i::before {
      color: #000;
    }
    .btn-primary {
      border: none;
      align-self: flex-end;
      background-color: #fff;
     
    }
    .btn-primary:focus {
      border: none;
      background-color: #fff;
    }
  }
 
}

@media screen and(max-width:1061px) {
    .leftContent-container {
        border-right: 1px solid #eee;
        padding-left: 0px;
        padding-top: 20px;
        text-align: center;
        .list-bar {
          padding-top: 27px;
          width: 100%;
          margin: 0 auto;
          .bar-group {
            justify-content: center;
            display: flex;
            align-items: baseline;
            padding-bottom: 15px;
            h1 {
                display: none;
            }
            .home-icon {
              width: 27px;
            }
            i {
              font-size: 25px;
            }
          }
        }
        .btn {
          width: 100%;
          margin-right: 0;
        }
      }
}
