.modal{
    .modal-content{
        border: none;
        width: 70%;
        border-radius: 20px;
        .modal-header{
            border-bottom: none;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .modal-body{
            text-align: center;
        }
    
        .modal-footer{
            border-top: none;
            justify-content:center;
            .btn-close{
                background-color: #EFF3F4;
                color: #000;
                font-weight: 500;
                border: none;
                border-radius: 20px;
                padding: 10px 20px;
            }
            .btn-delete{
                background-color: #E0245E;
                color: #fff;
                font-weight: 500;
                border: none;
                border-radius: 20px;
                padding: 10px 20px;
            }
        }
    }
}
